.mini_search_btn {
  background-color: #78d196;
  border-color: #78d196;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 60px;
  height: 45px;
}
.mini_search_btn:hover {
  background-color: #78d196;
  border-color: #78d196;
}
.search_input {
  height: 45px !important;
  font-size: 1.5vw;
}
#input_one {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.search_icon {
  font-size: 25px;
}
.group {
  width: 30vw;
}
