.service_img {
  width: 100%;
  height: 30rem;
}
.service_title {
  background-color: #78d196;
  color: white;
  padding: 2rem;
}

.service_box_info {
  border: 2px solid rgb(27, 27, 27);
  border-radius: 5px;
}
.fas {
  font-size: 20px;
}
