.btn_nav {
    background-color: #f7f7f7f7;
    border-radius: 30px;
    width: 100px;
    height: 45px;
}
.btn_nav:hover {
    background-color: #f7f7f7f7;
}
.FaUserCircle {
    height: 30px;
    width: auto;
}
.FaBars {
    height: 20px;
    width: auto;
    padding-right: 15px;
}