.nav {
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
}
.logo_style {
  height: 4rem;
}
.name_style {
  color: rgb(15, 15, 15);
}
.T {
  color: #78d196;
}
.nav_items {
  display: flex;
  flex-direction: row;
}
.mr_nav_item {
  margin-right: 10px;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    display: none;
  }
  .search_input {
    height: 45px !important;
    font-size: 4.5vw;
  }
}
